<div class="emp-list">
    <div class="filter-box">
        <p class="category">Employees</p>
        <div fxLayout>
            <input class="text-input" type="text" [(ngModel)]="searchText" placeholder="Search by name ...">
        </div>
        <div fxLayout>
            <div fxLayout [style.width]="'40%'">
                <mat-select [(ngModel)]="selectedGender" [style.margin-right]="'.4rem'">
                    <mat-option value="All">Gender</mat-option>
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                </mat-select>
            </div>
            <div fxLayout [style.width]="'60%'">
                <mat-select placeholder="Species" [(ngModel)]="selectedSpecies" multiple>
                    <mat-select-trigger>Species</mat-select-trigger>
                    <mat-option *ngFor="let employee of employees | unique:'species'" [value]="employee.species">{{ employee.species }}</mat-option>
                </mat-select>              
            </div> 
        </div>  
        <div [style.text-align]="'end'">
            <button class="btn" (click)="clearFilters()">Clear Filters</button>
        </div>       
    </div>

    <div [style.height]="'100%'">
        <div class="scroll-list">
            <div (click)="navigateToEmployeeDetails(employee.id)" class="employee" *ngFor="let employee of filteredEmployees; let i = index;" [ngClass]="{ 'even-background': (i+1) % 2 === 0 }" fxLayout fxLayoutAlign="start center">
                <div class="emp-head">
                    <img [style.width]="'100%'" [src]="employee.images.main" alt="">
                </div>
                <div [style.paddingLeft]="'1rem'">
                    <p [style.font-weight]="600">{{ employee.name.first }} {{ employee.name.last }}</p>
                    <p class="emp-occupation">{{ employee.occupation }}</p>
                </div>
            </div>
        </div>
    </div>
</div>