@import '../../styles.scss';

.emp-list {
    height: 100%;
    overflow: auto;
    padding-right: 2rem;

    .filter-box {
        border-bottom: 1px solid $custom-purple;
        padding-bottom: 1rem;
        .category {  
            margin-bottom: 1rem;
            font: {
                size: 40px;
                weight: 500;
            }
        }
    }

    .employee {
        padding: 1rem;
        &.even-background {
            background-color: $custom-lavender-blurry;
            border-radius: 10px;
        }
        .emp-head {
            background-color: $custom-white;
            width: 80px;
            min-width: 80px;
            height: 80px;
            border-radius: 100%;
            overflow: hidden;
        }
        .emp-occupation {
            color: $custom-gray;
        }
    }
}